<!DOCTYPE html>
<html lang="en" data-ng-app="GoogleDirectionWeather">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Directions</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- JQuery and Bootstrap-->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <!-- Angular JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js" type="application/javascript"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmSL6ayla_w8OtZjp23pkRcKlGDLxrl-E&libraries=places&callback=initAutocomplete"
            async defer></script>

    <script src="../js/lab2.js"></script>
    <link rel="stylesheet" href="../css/lab2style.css">
</head>
<body>
<div class="container-fluid map-size" ng-controller="googlemapoutput">
    <div class="row justify-content-start padding-20">
        <div class="col-xs-1">
            <label><h2>Start </h2></label>
        </div>
        <div class="col">
            <input type="text"  ng-model="startlocation" id="startlocation"/>
        </div>

        <div class="col-xs-1">
            <label><h2>End </h2></label>
        </div>
        <div class="col">
            <input type="text"  ng-model="endlocation" id="endlocation"/>
        </div>

        <div class="col">
            <button id="btn" ng-click="calcRoute()" class="btn btn-default">
                Get Directions
            </button>
        </div>

        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <br/></br>
    </div>

    <div class="row">
        <div class="col-6" id="map-canvas"></div>
        <div class="col">
            <div class="row padding-20" ng-repeat="info in weatherInfo">
                <div><h3>{{info.opening}} {{info.city}} {{info.state_name}}</h3>
                    <h1>{{info.temp}} <img src="{{info.icon}}"/><span> {{info.weather}}</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>



